@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

.App {
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

/* RESPONSIVE */

@media (min-width: 300px) {
    /* HEADER */
    #basic-nav-dropdown {
        color: #fff;
    }
    /* CARDS */
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgb(0 0 0 / 12%), 0 4px 8px rgb(0 0 0 / 6%);
    }
    h1.title-page {
        padding: 6px 0px;
        border-bottom: 1px solid black;
        margin: 20px 0px;
    }
    button#create-new-card-btn {
        margin: 10px 0px;
    }
    p.card-text {
        margin: 0px 0px 5px 0px;
    }
    /* HOME */
    div#wrap-content {
        background-color: #9e9e9e;
        height: 560px;
        margin: 20px auto;
    }
    h1#title-page {
        color: #fff;
        text-align: center;
        font-size: calc(1.375rem + 0.6vw);
        padding-top: 30px;
    }
    h2#subtitle-page {
        color: #fff;
        text-align: center;
        font-size: calc(1.325rem + 0.5vw);
    }
    p.text-home {
        font-weight: 600;
        text-align: center;
        padding: 10px 0px;
    }
    button#back-btn {
        margin: 0px 10px;
    }
    /* ABOUT */
    p.text {
        padding: 0px 20px;
        color: #000;
        text-align: justify;
        font-weight: 500;
    }
    /* FOOTER */
    .footer {
        padding: 40px 0;
        background-color: #fff;
        width: 100%;
        position: absolute;
        bottom: 0;
        border: 1px
    }
    #root>div>footer>div>div {
        display: flex;
        align-items: center;
    }
    .footer .social {
        text-align: center;
        padding-bottom: 25px;
        color: #4b4c4d;
    }
    .footer .social a {
        font-size: 24px;
        color: inherit;
        border: 1px solid #ccc;
        width: 40px;
        height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
        opacity: 0.75;
    }
    .footer .social a:hover {
        opacity: 0.9;
    }
    ul.list {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }
    ul.list li :hover {
        opacity: 1;
    }
    ul.list a {
        color: #fff;
        text-decoration: none;
    }
    footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #fff;
        font-size: 1rem;
    }
}

/* Small devies (tablets, 768px and up) */

@media (min-width: 768px) {
    /* CARDS */
    /* LOGIN */
    form.user-form {
        width: 50%;
    }
    h1.user-form-title {
        padding: 1em 0em;
    }
}

/* Small devies (desktops, 992px and up) */

@media (min-width: 992px) {
    /* CARDS */
}

/* Small devies (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    /* HEADER */
    nav.main-header {
        padding: 1.1em 0em;
    }
    a.nav-item-link {
        color: #fff !important;
        display: flex;
        align-items: center;
    }
    a.dropdown-item {
        font-weight: 500 !important;
    }
    a.nav-item-link.active.nav-link {
        background: #fff;
        border-radius: 5px;
        color: #212529 !important;
        font-weight: 500;
    }
    /* ABOUT */
    p.text {
        font-size: 1.2em;
    }
}