@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

body {
    background-color: rgba(219, 226, 226) !important;
}

main,
header,
section,
aside,
footer {
    margin: 0;
    color: #ffffff;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

.layout-container,
.main-container {
    min-height: 700px;
    height: auto !important;
    height: 700px;
}

h1.page-title {
    color: #407f7f;
    padding: 20px 0px;
}

/* webkit solution */
::-webkit-input-placeholder {
    text-align: right;
}

/* mozilla solution */
input:-moz-placeholder {
    text-align: right;
}

/* .form-control {
    text-align: right;
    direction: rtl;
} */