@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

.App {
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RESPONSIVE */

@media (min-width: 300px) {
    /* HEADER */
    #basic-nav-dropdown {
        color: rgba(255, 255, 255, 0.55)
    }
    /* CARDS */
    .card-container.container {
        display: flex;
        flex-direction: column;
        padding-bottom: 2em;
    }
    div#cards-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    form.card-from {
        display: flex;
        flex-direction: column;
        background: #9e9e9e38;
        padding: 10px;
    }
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgb(0 0 0 / 12%), 0 4px 8px rgb(0 0 0 / 6%);
    }
    h1.title-page {
        padding: 6px 0px;
        border-bottom: 1px solid black;
        margin: 20px 16px;
    }
    button.btn.primary.btn.btn-primary {
        margin: 10px 15px;
    }
    p.card-text {
        margin: 0px 0px 5px 0px;
    }
    /* HOME */
    div#wrap-content {
        background-color: #9e9e9e;
        height: 560px;
        margin: 20px auto;
    }
    h1#title-page {
        color: #fff;
        text-align: center;
        font-size: calc(1.375rem + 0.6vw);
        padding-top: 30px;
    }
    h2#subtitle-page {
        color: #fff;
        text-align: center;
        font-size: calc(1.325rem + 0.5vw);
    }
    p.text-home {
        font-weight: 600;
        text-align: center;
        padding: 10px 0px;
    }
    button#back-btn {
        margin: 0px 10px;
    }
    /* ABOUT */
    p.text {
        padding: 0px 20px;
        color: #000;
        text-align: justify;
        font-weight: 500;
    }
    /* FOOTER */
    .footer {
        padding: 40px 0;
        background-color: #fff;
        width: 100%;
        position: absolute;
        bottom: 0;
        border: 1px
    }
    #root>div>footer>div>div {
        display: flex;
        align-items: center;
    }
    .footer .social {
        text-align: center;
        padding-bottom: 25px;
        color: #4b4c4d;
    }
    .footer .social a {
        font-size: 24px;
        color: inherit;
        border: 1px solid #ccc;
        width: 40px;
        height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
        opacity: 0.75;
    }
    .footer .social a:hover {
        opacity: 0.9;
    }
    ul.list {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }
    ul.list li :hover {
        opacity: 1;
    }
    ul.list a {
        color: #fff;
        text-decoration: none;
    }
    /* .footer ul {
        margin-top: 0;
        padding: 0;
        list-style: none;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        text-align: center;
    }
    .footer ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }
    .footer ul li {
        display: inline-block;
        padding: 0 15px;
    }
    .footer ul li :hover {
        opacity: 1;
    } */
    footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #fff;
        font-size: 1rem;
    }
}

/* Small devies (tablets, 768px and up) */

@media (min-width: 768px) {
    /* CARDS */
    .card-container.container {
        display: block;
    }
    div#cards-section {
        display: block;
        position: relative;
    }
    form.card-from {
        display: block;
    }
    button#back-btn {
        position: absolute;
        bottom: 10px;
        left: 130px;
    }
    /* LOGIN */
    form.user-form {
        width: 50%;
    }
    h1.user-form-title {
        padding: 1em 0em;
    }
}

/* Small devies (desktops, 992px and up) */

@media (min-width: 992px) {
    /* CARDS */
    .card-container.container {
        display: block;
    }
    div#cards-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    button.btn.primary.btn.btn-primary {
        margin: 20px 15px;
    }
}

/* Small devies (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    /* ABOUT */
    p.text {
        font-size: 1.2em;
    }
}