@media (min-width: 300px) {
    div#card-container {
        min-height: 80vh;
    }

    h1#my-cards-title {
        color: #407f7f;
        padding: 20px 0px;
    }

    button#create-new-card-btn {
        margin-bottom: 10px;
    }
}