.card {
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: right;
    direction: rtl;
}

.card:hover {
    cursor: pointer;
}

/* @media (min-width: 300px) {
    .card-item-title.card-title.h5 {
        color: #f44336;
    }

    .card {
        margin-bottom: 20px;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgb(0 0 0 / 12%), 0 4px 8px rgb(0 0 0 / 6%);
    }

    p.card-text {
        padding: 0px;
        margin: 0px;
        color: #000;
    }

    img.card-img-top.card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    a.icon-btn {
        font-size: 18px;
    }

    a.icon-btn:hover {
        cursor: pointer;
    }

    .btn-add-card {
        color: #407F7F !important;
    }

    a.btn-delete-card {
        color: #407F7F !important;
    }

    a.btn-edit-card {
        color: #407F7F !important;
    }

} */